<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 命名空间：映射文件所在目录.名称 -->
<mapper namespace="com.md.sys.dao.cus.CusCustomerDao">

	<!-- 数据库表别名 -->
	<sql id="findAlias">
		id,name,gender,age,birthday,tel,state,guardian,last_guardian lastGuardian,last_guardian_tel lastGuardianTel,
		home,school,money,balance,total_training_time totalTrainingTime,times_of_training timesOfTraining,remark,
		consultation_id consultationId,diagnose_id diagnoseId,dept_id deptId,gmt_create gmtCreate,gmt_modified gmtModified,
		created_user createdUser,modified_user modifiedUser
	</sql>
	<sql id="saveAlias">
		(null,#{name},#{gender},#{age},#{birthday},#{tel},#{state},#{guardian},#{lastGuardian},#{lastGuardianTel},#{home},
		#{school},#{money},#{balance},#{totalTrainingTime},#{timesOfTraining},#{remark},#{consultationId},#{diagnoseId},#{deptId},
		now(),now(),#{createdUser},#{modifiedUser})
	</sql>

	<!-- 基于用户名的查询条件sql引用语句 -->
	<sql id="queryWhereId">
       <where>
			<if test="name!=null and name!=''">
				name like concat("%",#{name},"%")
			</if>
		</where>
	</sql>
	
	<!-- 基于用户姓名及分页条件查询,无用户名输入基于分页条件查询 -->
	<select id="findPageObjects" resultMap="cusCustomerMap">
		select <include refid="findAlias"/>
		from cus_customer
        <include refid="queryWhereId"/>
		limit #{startIndex},#{pageSize}
	</select>
	
	<!-- 关联查询 -->
	<resultMap id="cusCustomerMap"
		type="com.md.sys.vo.cus.CusCustomerResult">
		<id column="id" property="id"/>
		<!-- 关联查询充值记录数 -->
		<association property="rechargeCount"
					 column="id"
					 select="com.md.sys.dao.rec.RecPayRankDao.findByCustomerId">
		</association>
		<!-- 关联查询课程记录数 -->
		<association property="scheduleCount"
					 column="id"
					 select="com.md.sys.dao.cus.CusScheduleDao.findByCustomerId">
		</association>
		<!-- 关联查询课程记录数 -->
		<association property="lastTrain"
					 column="id"
					 select="com.md.sys.dao.tra.TraInformationrecordDao.findByCustomerId">
		</association>
	</resultMap>

	<!-- 基于用户名查询该用户总数,无用户名输入查询所有用户总数 -->
	<select id="getRowCount" resultType="int">
		select count(*) from cus_customer
		<include refid="queryWhereId"/>
	</select>
	
	<!-- 将CusCustomer类型数据添加到数据库 -->
	<insert id="insertObject"
			parameterType="com.md.sys.entity.cus.CusCustomer"
			useGeneratedKeys="true"
			keyProperty="id">
		insert into cus_customer
		(id,name,gender,age,birthday,tel,state,guardian,last_guardian,last_guardian_tel,home,school,money,balance,total_training_time,
		times_of_training,remark,consultation_id,diagnose_id,dept_id,gmt_create,gmt_modified,created_user,modified_user)
		values
		<include refid="saveAlias"/>
	</insert>
	
	<!-- 基于id删除客户信息 -->
	<delete id="deleteObject" parameterType="int">
		delete from cus_customer where id=#{id}
	</delete>
	
	<!-- 基于客户id更改客户信息 -->
	<update id="updateObject" parameterType="com.md.sys.entity.cus.CusCustomer">
		update cus_customer
		<set>
			<if test="name!=null and name!=''">
				name=#{name},
			</if>
			<if test="gender!=null and gender!=''">
				gender=#{gender},
			</if>
			<if test="age!=null and age!=''">
				age=#{age},
			</if>
			<if test="birthday!=null and birthday!=''">
				birthday=#{birthday},
			</if>
			<if test="tel!=null and tel!=''">
				tel=#{tel},
			</if>
			<if test="guardian!=null and guardian!=''">
				guardian=#{guardian},
			</if>
			<if test="lastGuardian!=null and lastGuardian!=''">
				last_guardian=#{lastGuardian},
			</if>
			<if test="lastGuardianTel!=null and lastGuardianTel!=''">
				last_guardian_tel=#{lastGuardianTel},
			</if>
			<if test="home!=null and home!=''">
				home=#{home},
			</if>
			<if test="school!=null and school!=''">
				school=#{school},
			</if>
			<if test="remark!=null and remark!=''">
				remark=#{remark},
			</if>
			<if test="modifiedUser!=null and modifiedUser!=''">
				modified_user=#{modifiedUser},
			</if>
			gmt_modified=now()
		</set>
		where id=#{id}
	</update>
	
	<!-- 基于用户id修改用户状态 -->
	<update id="updateStateById">
		update cus_customer
		<set>
			state=#{state},gmt_modified=now(),
			<if test="modifiedUser!=null and modifiedUser!=''">
				modified_user=#{modifiedUser}
			</if>
		</set>
		where id=#{id}
	</update>
	
	<!-- 根据id查找客户信息 -->
	<select id="findObjectById" resultType="com.md.sys.entity.cus.CusCustomer" >
		select <include refid="findAlias"/>
		from cus_customer
        where id=#{id}
	</select>
	
	<!-- 根据诊断表id查找客户姓名 -->
	<select id="findNameByDiagnoseId" parameterType="int" resultType="String">
		select name
		from cus_customer
        where diagnose_id=#{id}
	</select>
	
	<!-- 根据诊断表id查找客户电话 -->
	<select id="findTelByDiagnoseId" parameterType="int" resultType="String">
		select tel
		from cus_customer
        where diagnose_id=#{id}
	</select>
	
	
	
</mapper>