<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.md.sys.dao.exp.ExpertReplyDao">

	<!-- 从浏览器获取添加信息在专家回复表进行添加 -->
	<insert id="insertRep" parameterType="com.md.sys.entity.exp.ExpertReply">
	<!-- 通过selectKey获取一个值 order表示在insert语句之后执行, keyProperty表示将selectKey的结果 
			赋予参数对象的id属性 -->
		<selectKey order="AFTER" resultType="int" keyProperty="id">
			select last_insert_id()
		</selectKey>
		insert into exp_expert_reply values 
		(null,#{remoteDiagnoseId},#{expertReply},#{expertRemark},now(),now())
	</insert>
	
	<!-- 从浏览器获取要删除的<远程诊断表id>并在专家回复表进行删除 -->
	<delete id="deleteRep">
		delete from
		exp_expert_reply
		where id in 
       <foreach collection="ids"
                open="("
                close=")"
                separator=","
                item="item">
               #{item} 
        </foreach>
	</delete>
	
	<!-- 从浏览器获取要修改的信息并在专家回复表进行修改 -->
	<update id="updateRep">
		update exp_expert_reply
		<set>
			<if test="expertReply!=null and expertReply!=''">
				expert_reply=#{expertReply},
			</if>
			<if test="expertRemark!=null and expertRemark!=''">
				expert_remark=#{expertRemark},
			</if>
			gmt_modified=now()
		</set>
		where remote_diagnose_id=#{remoteDiagnoseId}
	</update>
	
	<!-- 通过远程诊断表的id查询到专家回复表的id -->
	<select id="selectExpId" resultType="Integer">
		select id from exp_expert_reply where remote_diagnose_id in 
		<foreach collection="ids"
                open="("
                close=")"
                separator=","
                item="item">
               #{item} 
        </foreach>
	</select>
	
	<!-- 通过前端获取远程诊断表remoteDiagnoseId并查询出个remoteDiagnoseId对应的信息 -->
	<select id="selectRep" resultType="com.md.sys.entity.exp.ExpertReply">
		select * from exp_expert_reply where remote_diagnose_id=#{remoteDiagnoseId}
	</select>
</mapper>