<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 命名空间：映射文件所在目录.名称 -->  
<mapper namespace="com.md.sys.dao.ppo.PpoAppointmentTimetDao">	
		<insert id="insertAppointment">
		insert into ppo_appintmenttime (starttime,endtime,appointment_id,gmt_create,gmt_modified)
		values
		(#{startTime},#{endTime},#{appointmentId},now(),null)
		</insert>
		
		<select id="findAppointmentTime" resultType="com.md.sys.vo.ppo.DateTimeAll">
		select starttime,endtime from ppo_appintmenttime where appointment_id=#{appointment_id}
		</select>
		
		<delete id="deleteAppointmentTime">
		delete from ppo_appintmenttime where appointment_id=#{appointment_id}
		</delete>
		<update id="updateAppointment">
		update ppo_appintmenttime set starttime=#{startTime},endtime=#{endTime},
		appointment_id=#{appointmentId},gmt_create=null,gmt_modified=now()
		</update>
		
</mapper>




