<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 命名空间：映射文件所在目录.名称 -->  
<mapper namespace="com.md.sys.dao.ppo.PpoAppointmentDao">	
	<!-- 新增 -->
	<!-- <insert id="insertObject" parameterType="Appointment">
INSERT INTO sys_appointment (trainername,post,description,resume,
forenoonStartTime,forenoonEndTime,afternoonStartTime,afternoonEndTime,creationTime,gender,tel)
 VALUES(#{trainername},#{post},#{description},#{resume},#{forenoonStartTime},#{forenoonEndTime},#{afternoonStartTime},#{afternoonEndTime}
 ,#{creationTime},#{gender},#{tel})
	</insert> -->	
		
		<!--按姓名搜索训练师  -->
		<select id="findTrainernameByname" resultType="com.md.sys.entity.ppo.PpoAppointment">
			SELECT * FROM ppo_appointment WHERE trainername=#{trainername}
		</select>
		<!-- 基于姓名搜索训练师 -->
		<select id="findTrainernameById" resultType="com.md.sys.entity.ppo.PpoAppointment">
			SELECT * FROM ppo_appointment WHERE id=#{id}
		</select>
		<!-- 查询所有训练师 -->
		<select id="findAppointment" resultType="com.md.sys.entity.ppo.PpoAppointment">
			SELECT * FROM ppo_appointment 
			<include refid="queryWhereId"/>
			order by gmt_create desc limit #{startIndex},#{pageSize}
		</select>
		<!-- 统计训练师总数 -->
		<select id="getRowCount" resultType="int">
			select count(*) from ppo_appointment
			<include refid="queryWhereId"/>
		</select>
		
		<sql id="queryWhereId">
		<where>
			<if test="trainername!=null and trainername!=''">
				name like concat("%",#{trainername},"%")
			</if>
		</where>
		</sql>
		<!-- 新增训练师 -->
		<insert id="insertAppointment" useGeneratedKeys="true" keyProperty="id">
		insert into ppo_appointment 
		(trainername,gender,tel,post,description,resume,id,user_name,gmt_create,gmt_modified)
		values
		(#{trainername},#{gender},#{tel},#{post},#{description},#{resume},null,#{user_name},now(),now())  
		</insert>
		
		<!-- 删除训练师 -->
		<delete id="deleteAppointment" >
			delete from ppo_appointment where id=#{AppointmentId}
		</delete>
		
		<!-- 修改训练师 -->
		<update id="updateAppointment" parameterType="com.md.sys.entity.ppo.PpoAppointment">
			update ppo_appointment
			set
			user_name=#{user_name},
			trainername=#{trainername},
			gender=#{gender},
			tel=#{tel},
			post=#{post},
			description=#{description},
			resume=#{resume},
			gmt_modified=now()
			where id=#{id}
		</update> 
		
</mapper>




